.no-bullet {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

%tag-base {
    font-size: .73rem;
    font-weight: 500;
    display: inline-block;
    margin: 0 4px 7px 0;
    padding: 3px 7px 2px;
    border-radius: $radius-tags;
}

%hamburger-menu-icon {
    border: 1px solid $color-borders-left-labels;
    border-bottom-left-radius: $radius-main-unit-corner;
    width: 59px;
    height: 43px;
    background-size: 78%;
}
