.tooltip {
    border: 1px solid $color-light-grey;
    line-height: 1.2;
    font-weight: bold;

    .succession-planning & {
        background: $color-background-main;
    }
}

.tooltip:before {
    content: url("../img/tooltip-bottom.svg") !important;
    border: none !important;
    left: 45% !important;
    z-index: 11;
    margin-top: -1px;
}

.tooltip:not(.top):before {
    transform: rotate(180deg);
    left: 57% !important;
    top: 2px;
}
