// Colors
$color-pale-blue: #F2F6F9;
$color-pale-yellow: #EFE829;
$color-dark-blue-grey: #5D6771;
$color-medium-blue-grey: #8994A0;
$color-light-grey: #e1e1e1;
$color-medium-grey: #ccc;
$color-medium-dark-grey: #929DA7;

// Utility Colors
$color-table-headings: #949EA9;
$color-icons: $color-medium-blue-grey;
$color-yellow-highlight: $color-pale-yellow;
$color-borders-sidebar: #808890;
$color-borders-main: #828A92;
$color-borders-left-labels: $color-medium-blue-grey;
$color-name-background: white;
$color-name-text: $color-dark-blue-grey;
$color-background-main: $color-pale-blue;


// Fonts
$font-main: "Gotham", Helvetica, Arial, sans-serif;
$font-ultra: "Gotham Ultra", "Gotham", Helvetica, Arial, sans-serif;

// Icons
$icon-arrow: "▶";
$icon-arrow-up: "▲";
$icon-arrow-down: "▼";
$icon-hamburger: "☰";
$icon-hamburger: url("../img/hamburger-nav.svg");

// Rounding
$radius-main-unit-corner: 30px;
$radius-tags: 8px;
