.button {
    font-weight: bold;
    border: 1px solid $color-pale-yellow;
}


a.button + a.button-text-only {
    padding: 10px;
    margin-top: 0;
    line-height: 1;
    display: inline-block;
    vertical-align: super;
}
