.top-bar {
    margin: 10px 0;

    .small-9 {
        text-transform: uppercase;
        font-weight: 500;
        padding-left: 19px;
    }

    .small-1 {
        width: 70px;

        > ul > li > a {
            padding-top: 0;
        }

        .menu-selector {
            border: 1px solid $color-borders-left-labels;
            border-bottom-left-radius: $radius-main-unit-corner;
            background: $icon-hamburger;
            width: 59px;
            height: 43px;
            background-size: 78%;
            background-repeat: no-repeat;
            background-position: left 7px top 7px;

            &:hover {
                background: $icon-nav-x 20px 7px no-repeat;
                transition: .3s ease all;
            }
        }
    }

    .logo {
        max-width: 19%;
        float: right;
        margin-top: 13px;

        @media #{$small-only} {
            max-width: 80%;
            float: left;
            position: relative;
            top: -20px;
            margin-bottom: 45px;
        }
    }

    ul.nav-tabs.menu {
        width: 75%;
        display: inline-block;
        white-space: nowrap;

        a {
            padding: 0;
        }

        li {
            float: left;
            padding: 10px 0;
            position: relative;
        }

        li.active {
            min-width: 63%;
            font-size: 2.5vw;

            a {
                background: transparent;
                color: $color-dark-blue-grey;
                padding-left: 0;
                padding-top: 17px;
                margin-top: -7px;
                width: 94%;

                @media #{$medium-up} {
                    border-top: 1px solid $color-borders-left-labels;
                }
            }

            @media #{$large-up} {
                font-size: 2.6vw;
            }
            @media #{$xlarge-up} {
                font-size: 1.8rem;
            }

            @media #{$small-only} {
                position: absolute;
                top: 60px;
                left: 10px;
                font-size: 1.5rem;
                border-bottom: 1px solid $color-borders-left-labels;
            }
        }

        li:not(.active) {
            width: 37%;
            font-size: 1.6vw;
            border-bottom: 1px solid $color-borders-left-labels;
            position: relative;
            height: 40px;
            padding: 18px 0;

            @media #{$small-only} {
                display: none;
            }

            @media #{$large-up} {
                height: 57px;
                padding: 21px 0;
            }

            &:after {
                bottom:-2px;
                left: -43px;
                height: 100%;
                content: url("../img/tab-divider.svg");
                position: absolute;
                background: white;

                @media #{$medium-only} {
                    content: url("../img/tab-divider-med-screens.svg");
                }

            }


            @media #{$large-up} {
                font-size: 1.2rem;
            }

            a {
                color: $color-medium-blue-grey;

                &:after {
                    content: $icon-arrow;
                    display: inline-block;
                    margin-left: 4px;

                    @media #{$large-up} {
                        font-size: 1rem;
                        padding: 0 10px 17px 32px;
                        border-bottom: 1px solid $color-borders-left-labels;
                        margin-left: -25px;
                    }
                }
            }
        }
    }
}

.is-dropdown-submenu-item {
    background: white;
    width: auto;
    transition: .16s ease-in all;

    &:hover {
        background: $color-yellow-highlight;
    }

    &:nth-of-type(n+1) {
        border-top: 1px solid $color-light-grey;
    }
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
    left: 84px;
    top: 0;
    width: 240px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
    border: none;
}

ul.menu.vertical.submenu.is-dropdown-submenu.first-sub.js-dropdown-active {
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.menu-icon {
    padding-bottom: 0;
}
