.top-bar {
    margin: 10px 0;

    .small-9 {
        text-transform: uppercase;
        font-weight: 500;
        // padding-left: 19px;
    }

    .small-1 {
        width: 70px;

        > ul > li > a {
            padding-top: 0;
        }
    }

    .medium-11 {
        @media #{$medium-only} {
            width: 86%;
            padding-left: 3px;
            float: left !important;
            margin-left: 2.4vw;
        }
    }

    .logo {
        max-width: 19%;
        float: right;
        margin-top: 13px;
        background: url("../img/gbg-logo.png") 0 0 no-repeat;
        background-size: contain;
        width: 250px;
        height: 70px;

        @media #{$medium-only} {
            background: url("../img/gbg-logo-icon.jpg") 0 0 no-repeat;
            width: 41px;
            height: 41px;
            max-width: 10%;
        }

        @media #{$small-only} {
            max-width: 80%;
            float: left;
            position: relative;
            top: -20px;
            margin-bottom: 45px;
        }
    }

    ul.nav-tabs.menu {
        width: 75%;
        display: inline-block;
        white-space: nowrap;

        @media #{$large-only} {
            margin-left: 1vw;
        }
        @media #{$xlarge-up} {
            margin-left: .3vw;
        }

        @media #{$medium-only} {
            width: calc(100% - 60px);
        }

        a {
            padding: 0;
        }

        li {
            float: left;
            padding: 10px 0;
            position: relative;
        }

        li.active {
            min-width: 63%;
            font-size: 2.5vw;

            a {
                background: transparent;
                color: $color-dark-blue-grey;
                padding-left: 0;
                padding-top: 17px;
                margin-top: -7px;
                width: 94%;

                @media #{$medium-up} {
                    border-top: 1px solid $color-borders-left-labels;
                }
            }

            @media #{$large-up} {
                font-size: 2.6vw;
            }
            @media #{$xlarge-up} {
                font-size: 1.8rem;
            }

            @media #{$small-only} {
                position: absolute;
                top: 60px;
                left: 10px;
                font-size: 1.5rem;
                border-bottom: 1px solid $color-borders-left-labels;
            }
        }

        li:not(.active) {
            width: 37%;
            font-size: 1.6vw;
            // border-bottom: 1px solid $color-borders-left-labels;
            position: relative;
            height: 40px;
            padding: 18px 0;

            @media #{$small-only} {
                display: none;
            }

            @media #{$large-up} {
                height: 57px;
                padding: 21px 0;
            }

            &:after {
                bottom:-2px;
                left: -43px;
                height: 100%;
                content: url("../img/tab-divider.svg");
                position: absolute;
                background: white;

                @media #{$medium-only} {
                    content: url("../img/tab-divider-med-screens.svg");
                }

            }

            &:before {
                content: "";
                position: absolute;
                bottom: 0px;
                left: -3px;

                right: -3px;
                height: 1px;
                background-image: linear-gradient(to right, $color-borders-left-labels, transparent);
            }


            @media #{$large-up} {
                font-size: 1.2rem;
            }

            a {
                color: $color-medium-blue-grey;

                &:after {
                    content: $icon-arrow;
                    display: inline-block;
                    margin-left: 4px;

                    @media #{$large-up} {
                        font-size: 1rem;
                        padding: 0 10px 17px 32px;
                        margin-left: -25px;
                    }
                }
            }
        }
    }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
    border: none;
}

.menu-icon {
    padding-bottom: 0;
}












/* Dropdown Button */
.dropbtn {
    cursor: pointer;
    z-index: 2000;

    &#menu-selector {
        @extend %hamburger-menu-icon;
        background: $icon-hamburger 7px 7px no-repeat;

        @media #{$medium-only} {
            margin-left: -.5vw;
        }

        @media screen and (min-width: 640px) and (max-width: 840px) {
            margin-left: -1vw;
        }

    }
}

/* Dropdown button on hover & focus */
.dropbtn:focus {
    // background: $icon-nav-x 20px 7px no-repeat;
    transition: .3s ease all;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: calc(2vw - 10px);
    margin-top: 3px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    top: 0;
    left: 120%;
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    transition: .16s ease-in all;
    z-index: 1999;

    li {
        &:hover {
            background: $color-yellow-highlight;
        }

        &:nth-of-type(n+1) {
            border-top: 1px solid $color-light-grey;
        }
    }
}

#myDropdown.show {
    &:before, &:after {
        content: "";
        @extend %hamburger-menu-icon;
        position: absolute;
        top: 0;
        display: block;
        left: -71px;

        @media #{$medium-only} {
            left: -69px;
        }
    }
    &:after {
        background: $icon-nav-x 18px 7px no-repeat;
        background-size: 45% !important;
    }

    &:before {
        background-color: white !important;
        border: 1px solid $color-borders-left-labels;
    }
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
