.vertical-text {
    @media #{$medium-up} {
        transform: rotate(-90deg);
        transform-origin: center center 0;
    }
}

.small-0 {
    @media #{$small-only} {
        display: none !important;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0,0,0,.2);
    border: 2px solid $color-background-main;
    // -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.leadership-team .unsorted, .at-a-glance {
    padding: 10px 10px 0;
}

.leadership-team .unsorted, .table-row-content table, .individual-wysiwyg, .chart-toolbar {
    background: $color-background-main;
}
.leadership-team .unsorted, .table-row-content .sorting-table, .chart-toolbar {
    border: 1px solid $color-borders-main;
}

.leadership-team .unsorted, .at-a-glance, .sorting-table, .individual-wysiwyg, [id*="-sidebar"] {
    margin-bottom: 25px;
}

.leadership-team .unsorted, .at-a-glance {
    height: 130px;
}

.leadership-team {
    position: relative;

    .unsorted {
        overflow: auto;
    }

    .table-row-label {
        top: 0;
    }
}

.main .medium-11 {
    @media #{$medium-up} {
        padding-left: 55px;
    }
}

.leadership-team h2 {
    border: 1px solid $color-borders-left-labels;
    border-top-left-radius: $radius-main-unit-corner;
    border-top-right-radius: $radius-main-unit-corner;
    padding: 10px;
    margin-bottom: -1px;
    width: 100%;

    @media #{$medium-up} {
        width: 130px;
        position: absolute;
        right: 50%;
    }
}

.vertical-text {
    h2 {
        display: inline-block;
    }
}

.rating-grid {
    position: relative;

    .medium-1.columns.table-row-label {
        height: 64vh;

        .vertical-text table {
            position: absolute;
            width: 55vh;
            right: 43px;
            height: 42px;
            top: 8px;

            @media #{$medium-only} {
                right: 23px;
            }

            td {
                width: 33%;
                padding: 13px;
                padding-left: 20px;

                @media #{$medium-only} {
                    padding: 5px 13px;
                }

                h2 {
                    margin: 0 10%;
                }

                &:last-of-type h2 {
                    float: right;

                }
            }
        }
    }
}

table.arrows {
    padding: 10px 1px 10px 32px;
    background: transparent;
    position: relative;

        &:before, &:after {
            content: url("../img/arrow-point.svg");
            position: absolute;
        }

        &:before {
            left: -17px;
            top: -9px;

            @media #{$medium-only} {
                .vertical-text &{
                    transform: scale(.7);
                    left: -15px;
                    top: -18px;
                }
            }
        }

        &:after {
            right: -17px;
            transform: rotate(180deg);
            bottom: -9px;

            @media #{$medium-only} {
                .vertical-text &{
                    transform: scale(.7) rotate(180deg);
                    right: -15px;
                    bottom: -18px;
                }
            }
        }


    .medium-1 & {
        height: 58px;
    }

    &.expectations {
        width: 95%;
        line-height: 1.2;
        margin: 19px auto;
        @media #{$large-up} {
            &:before {
                top: -7px;
                left: -17px;
                transform: scale(1.06);
            }

            &:after {
                bottom: -7px;
                right: -17px;
                transform: rotate(180deg) scale(1.06);
            }
        }
        h2 {
            margin-bottom: 0;
            font-size: 16px;

            @media screen and (max-width: 1147px) {
                font-size: 1.3vw;
            }
        }

        td {
            padding: 2% 1%;
            height: 51px;

            @media #{$large-up} {
                padding: 9px 5px;
                width: 33%;
            }

            @media screen and (max-width: 1147px) and (min-width: 1023px) {
                height: 54px;
            }
        }
    }

    tbody {
        background: transparent;
        border: none;
        border-top: 1px solid $color-borders-left-labels;
        border-bottom: 1px solid $color-borders-left-labels;
    }
}

.table-row-label {
    display: block;

    h2 {
        text-align: center;
    }
}


#percent-complete {
    background: white;
    width: 100%;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 1px;

    .succession-chart & {
        width: 150px;
    }

    span {
        background: lighten($color-medium-blue-grey, 23);
        height: 100%;
        display: block;
        font-size: .8rem;
        font-weight: bold;
        color: $color-medium-blue-grey;
    }
}
