.succession-chart {
    margin-left: 40px;
}

.white-gradient-cover {
    position: relative;
    height: 85vh;
    min-height: 496px;
    overflow-y: scroll;

    &:after {
        width: 40px;
        height: 100%;
        background: linear-gradient(to left, white, transparent);
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        content: "";
    }
}

.chart-toolbar {
    border-top-left-radius: $radius-main-unit-corner;
    padding: 10px 5px;
    margin-bottom: 14px;

    .medium-12 & {
        border-top-right-radius: $radius-main-unit-corner;
    }

    div.left, input, label, select, .button {
        width: auto;
        display: inline-block;
        color: $color-medium-blue-grey;
    }

    #print-options {
        margin-left: 11px;
    }
}

.hierarchy {
    width: 100%;
    overflow-x: scroll;
}

.scroll-x {
    white-space: nowrap;
}


ul.successors {
    @extend .no-bullet;
    li {
        display: inline-block;
    }
    h4 {
        font-size: .8rem;
        margin-bottom: 0;
        font-weight: 800;
        color: $color-medium-blue-grey;
    }
}
