<nav class="row">
  <div class="large-12 columns">
      <div class="top-bar">
          <div>
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="#"><div class="menu-selector"></div></a>
                        <ul class="menu vertical">
                            <li><a href="">Leadership Assessment</a></li>
                            <li><a href="">Succession Planning</a></li>
                            <li><a href="">Visit IDEAS</a></li>
                            <li><a href="">Help</a></li>
                            <li><a href="">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="nav-tabs menu">
                    <li class="active"><a href="">Leadership Assessment</a></li>
                    <li><a href="">Succession Planning</a></li>
                </ul>
                <div class="logo"></div>
            </div>
          </div>
        </div>
    </div>
</nav>
