<nav class="row">
  <div class="large-12 columns">
      <div class="top-bar">
          <div class="row">
              <div class="columns small-1">
                  <div class="dropdown">
                      <button onclick="dropdownNav()" id="menu-selector" class="dropbtn"></button>
                      <div id="myDropdown" class="dropdown-content">
                          <ul class="menu vertical">
                              <li><a href="index.html">Leadership Assessment</a></li>
                              <li><a href="succession-planning.html">Succession Planning</a></li>
                              <li><a href="">Visit IDEAS</a></li>
                              <li><a href="">Help</a></li>
                              <li><a href="">Log Out</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="columns small-9 medium-11">
                  <ul class="nav-tabs menu">
                      <li class="active"><a href="succession-planning.html">Succession Planning</a></li>
                      <li><a href="index.html">Leadership Assessment</a></li>
                  </ul>
                  <div class="logo"></div>

              </div>
          </div>
        </div>
    </div>
</nav>
